<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Tags -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Import Mapbox and CSS files -->
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v2.5.1/mapbox-gl.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/CSS/main.min.css" />
    <title>Document</title>
  </head>
  <body>
    <!-- Cursor divs -->
    <div class="cursor"></div>
    <div class="cursor-follower"></div>

    <div class="container">
      <!-- Overlay container with intro text and button -->
      <div class="overlay">
        <div class="text-container">
          <p class="screen">ADVENTURE IS ON THE WAY</p>
          <div class="intro">
            <button class="myBtn" onclick="fadeOut()">START</button>
          </div>
        </div>
      </div>
      <div class="overlay-2"></div>

      <!-- Main content div -->
      <div id="content" class="content">
        <div class="text">
          <h1>Welcome to Explore NZ</h1>
          <p class="data">
            New Zealands premier travel planning agency at your fingertips.
            Explore Accomodation, Food, Activities and much more.
          </p>
        </div>

        <!-- Vue app div -->
        <div id="app">
          <!-- The transition wrapper -->
          <transition name="fade" mode="out-in" @enter="enter" @leave="leave">
            <!-- Each block below corresponds to a step in the process -->

            <!-- Step 1: Select number of guests -->
            <div v-if="step === 1" key="step1">
              <h3>Select a number of guests</h3>
              <button
                class="option-button"
                :class="{ active: people === n }"
                type="button"
                v-for="n in 5"
                @click="people = n; nextStep()"
              >
                {{ n }} Guest(s)
              </button>
              <button class="option-button" @click="nextStep">Next</button>
              <p class="error" v-if="error">{{ error }}</p>
            </div>

            <!-- Step 2: Select number of days -->
            <div v-if="step === 2" key="step2">
              <h3>Select a stay length</h3>
              <select class="option-button" v-model="days">
                <option v-for="n in 15" :value="n">{{ n }} Day(s)</option>
              </select>
              <button class="option-button" @click="nextStep">Next</button>
              <button class="option-button" @click="previousStep">Back</button>
              <p class="error" v-if="error">{{ error }}</p>
            </div>

            <!-- Step 3: Select location -->
            <div v-if="step === 3" key="step3">
              <select class="option-button" v-model="location">
                <option v-for="location in uniqueLocations" :value="location">
                  {{ location }}
                </option>
              </select>
              <button class="option-button" @click="nextStep">Next</button>
              <button class="option-button" @click="previousStep">Back</button>
              <p class="error" v-if="error">{{ error }}</p>
            </div>

            <div v-if="step === 4" key="step4">
              <h3>Select Your Meal Plans</h3>
              <p>You can choose multiple diets.</p>
              <div v-for="option in uniqueMealOptions" class="option-container">
                <input type="checkbox" :id="option" :value="option" v-model="selectedMeals">
                <label :for="option">{{ option }}</label>
              </div>
              <button class="option-button" @click="nextStep">Next</button>
              <button class="option-button" @click="previousStep">Back</button>
              <p class="error" v-if="error">{{ error }}</p>
            </div>

            <div v-if="step === 5" key="step5">
              <h3>Available Accommodations</h3>
              <div class="grid-container">
                <!-- List of accommodations -->
                <div
                  class="listing"
                  v-for="option in getAccommodations()"
                  @click="selectAccommodation(option)"
                >
                  <!-- Accommodation Image -->
                  <div class="listing-img-container">
                    <img
                      class="listing-img"
                      :src="option.image"
                      alt="Image of {{ option.name }}"
                    />
                  </div>
                  <!-- Accommodation Info -->
                  <div class="listing-info">
                    <div>{{ option.listingName }} in {{ option.location }}</div>
                    <div>${{ option.cost }} per night</div>
                  </div>
                  <!-- Accommodation More Info Button -->
                  <div class="listing-button">
                    <button class="option-button">More Info</button>
                  </div>
                </div>
              </div>
              <button class="option-button" @click="previousStep">Back</button>
            </div>
          </transition>

          <!-- Modal for selected accommodation -->
          <div v-if="selectedAccommodation" class="modal">
            <!-- Close icon for the modal -->
            <span class="close-icon" @click="closeModal">&times;</span>
            <!-- Accommodation details -->
            <div class="modal-content">
              <h2>
                {{ selectedAccommodation.listingName }} in {{
                selectedAccommodation.location }}
              </h2>
              <div class="modal-info">
                <!-- Accommodation Image -->
                <img
                  class="modal-img"
                  :src="selectedAccommodation.image"
                  alt="Image of {{ selectedAccommodation.name }}"
                />
                <!-- Location, price, total cost and map -->
                <p class="location">
                  Location: {{ selectedAccommodation.location }}
                </p>
                <p classs="price">
                  ${{ selectedAccommodation.cost }} per night
                </p>
                <p class="total">
                  Total cost for {{ days }} days and {{ people }} guest(s): ${{
                  selectedAccommodation.cost * days * people}}
                </p>
                <p class="total-meals">
                  Total meal cost for {{ days }} days and {{ people }} guest(s): ${{ totalMealCost }}
                </p>
                <!-- Map container -->
                <div id="map"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Import scripts -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.5.1/mapbox-gl.js"></script>
    <script src="Javascript/minified/gsap.min.js"></script>
    <script type="module" src="Javascript/data.js"></script>
    <script src="Javascript/cursor.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script type="module" src="Javascript/vue-app.js"></script>
    <script src="Javascript/gsap.js"></script>
  </body>
</html>
