// Transitions for fade-in and fade-out animations.
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

// Styling for the option buttons.
.option-button {
  background-color: rgba(255, 255, 255, 0.8);
  color: rgb(0, 0, 0);
  border-style: none;
  font-family: $myfont;
  font-weight: bold;
  font-size: 20px;
  border-radius: 30px;
  margin: 15px;
  padding: 20px 23px;
  position: relative;
  overflow: hidden;

  // Creates a "ripple" effect on button click.
  &::before {
    content: "";
    position: absolute;
    background-color: rgba(0, 242, 40, 0.37);
    width: 10%;
    height: 25%;
    border-radius: 50%;
    z-index: 3;
    top: 35%;
    left: 45%;
    transform: scale(0);
  }

  &:hover {
    &::before {
      transform: scale(12);
      transition: transform 0.5s, border-radius 0.5s 0.5s;
    }
  }
}

// Style for active button.
.active {
  background-color: rgb(112, 75, 55);
}

// Grid container for listings.
.grid-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-radius: 30px;
  border-width: 10px;
  border-color: rgba(0, 0, 0, 0);
}

// Styles for each listing.
.listing {
  border-radius: 20px;
  border-style: solid;
  border-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 20px;
}

// Styles for listing images.
.listing-img-container {
  width: 100%;
}
.listing-img {
  width: 400px;
  border-radius: 20px;
}

// Styles for listing information.
.listing-info {
  text-align: center;
  color: white;
  font-weight: bold;
}

// Styles for listing button.
.listing-button {
  margin-top: 10px;
}

// Styles for the close icon.
.close-icon {
  position: absolute;
  right: 25px;
  top: -25px;
  color: #fff;
  font-size: 90px;
  cursor: pointer;
  z-index: 101;
}

// Styles for the modal.
.modal {
  z-index: 99;
  width: 100%;
  height: 90%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgb(62, 62, 62);
  color: rgb(251, 251, 251);
  text-align: center;
  border-radius: 30px;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.798);
  pointer-events: none;
  h2{
    margin: 30px;
    font-size: 35px !important;
  }
}

// Styles for the content inside the modal.
.modal-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "image image location"
    "image image price"
    "image image total"
    "map map map";
    justify-items: center;

  p {
    padding: 65px 30px;
    text-align: right;
    color: rgb(255, 255, 255) !important;
    font-size: 40px;
  }

  .location {
    grid-area: location;
  }

  .price {
    grid-area: price;
  }

  .total {
    grid-area: total;
  }

  img {
    grid-area: image;
    width: 900px;
    padding: 20px;
    border-radius: 40px;
  }

}

// Styles for the map inside the modal.
#map {
  border-radius: 20px;
  grid-area: map;
  width: 100%;
  height: 336px;
}
